<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">

    <title>Project Add User Form</title>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-light mb-5" style="background-color: lightskyblue;">
    <a th:href="@{/}" class="navbar-brand ms-3 me-5">Ticket Manager</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarMenu">
        <ul class="navbar-nav me-auto">
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/projects/listAll}"
                   class="nav-link">Projects</a>
            </li>
            <li class="nav-item me-3">
                <a th:href="@{/tickets/listAll}" class="nav-link">Tickets</a>
            </li>
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/employees/listAll}"
                   class="nav-link">Employees</a>
            </li>
            <li class="nav-item me-4">
                <a th:href="@{/profile/showFormForUpdate}" class="nav-link">Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-5">
                <form name="logoutForm" th:action="@{/processLogout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
        <h3 style="margin-bottom: 20px;">Add Project User</h3>
        <hr>

    <form action="#" th:action="@{/projects/addUser}"
          th:object="${projectAddUserDto}" method="POST" style="margin-top: 20px;" class="form-horizontal">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{projectDto.id}" />
        <input type="hidden" th:field="*{projectDto.dateCreated}" />
        <input type="hidden" th:field="*{roleIdentifier}">

        <div class="form-group" style="max-width: 400px; margin-right: 50px;">
            <label for="title">Title: </label>
            <input type="text" id="title" th:field="*{projectDto.title}"
                   class="form-control mb-4 col-4" placeholder="Title" readonly>

        </div>

        <div class="form-group">
            <label for="description">Description: </label>
            <textarea rows="4" cols="50" id="description" style="max-width: 500px; margin-right: 50px;" th:field="*{projectDto.description}"
                      class="form-control mb-4 col-4" placeholder="Description" readonly></textarea>

        </div>

        <div style="overflow: auto; height: 280px; margin-top: 40px;">
            <table class="table table-bordered table-striped" id="project-user-table">

                <!-- Add error message (if present) -->
                <div th:if="${#fields.hasErrors('userDtoList')}"
                     class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('userDtoList')}" th:text="${err}" />
                    </ul>
                </div>

                <thead class="thead-dark">
                    <tr>
                        <th onclick="sortTable(0)">Username</th>
                        <th onclick="sortTable(1)">First Name</th>
                        <th onclick="sortTable(2)">Last Name</th>
                        <th onclick="sortTable(3)">Email</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="tempUser, itemStat : *{userDtoList}">
                        <td  style="display: none" ><input type="hidden"
                                                         th:field="*{userDtoList[__${itemStat.index}__].id}"/></td>
                        <td th:text="*{userDtoList[__${itemStat.index}__].username}"></td>
                        <td th:text="*{userDtoList[__${itemStat.index}__].firstName}"></td>
                        <td th:text="*{userDtoList[__${itemStat.index}__].lastName}"></td>
                        <td th:text="*{userDtoList[__${itemStat.index}__].email}"></td>
                        <td><input type="checkbox" th:field="*{userDtoList[__${itemStat.index}__].flag}"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button style="margin-top: 20px;" type="submit" class="btn btn-info col-2">Add</button>
        <hr>
        <br>
        <a th:href="@{/projects/showDetailsPage(id=${projectAddUserDto.projectDto.id})}">Back to Project Details</a>
        <br>
        <br>

    </form>

</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("project-user-table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script>
    function searchTable() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("project-user-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</body>

</html>










