<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">

    <title>Project Update Fields Form</title>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-light mb-5" style="background-color: lightskyblue;">
    <a th:href="@{/}" class="navbar-brand ms-3 me-5">Ticket Manager</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarMenu">
        <ul class="navbar-nav me-auto">
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/projects/listAll}"
                   class="nav-link">Projects</a>
            </li>
            <li class="nav-item me-3">
                <a th:href="@{/tickets/listAll}" class="nav-link">Tickets</a>
            </li>
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/employees/listAll}"
                   class="nav-link">Employees</a>
            </li>
            <li class="nav-item me-4">
                <a th:href="@{/profile/showFormForUpdate}" class="nav-link">Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-5">
                <form name="logoutForm" th:action="@{/processLogout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
        <h3 style="margin-bottom: 20px;">Update Project</h3>
        <hr>

    <form action="#" th:action="@{/projects/updateFields}"
          th:object="${projectDto}" method="POST" style="margin-top: 20px;" class="form-horizontal">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{dateCreated}" />

        <div class="form-group" style="max-width: 400px; margin-right: 50px;">
            <label for="title">Title: </label>
            <br>
            <input type="text" th:field="*{title}" id="title"
                   class="form-control mb-4 col-4" placeholder="Title">
            <!-- Add error message (if present) -->
            <div th:if="${#fields.hasErrors('title')}"
                 class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}" />
                </ul>
            </div>

        </div>

        <div class="form-group" style="max-width: 500px; margin-right: 50px;">
            <label for="description">Description: </label>
            <br>
            <textarea rows="4" cols="50" th:field="*{description}"
                      maxlength="50" id="description"
                      class="form-control mb-4" placeholder="Description" style="resize: none"></textarea>

            <!-- Add error message (if present) -->
            <div th:if="${#fields.hasErrors('description')}"
                 class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                </ul>
            </div>
        </div>

        <button style="margin-top: 20px;" type="submit" class="btn btn-info col-2">Save</button>
        <hr>
        <br>
        <a th:href="@{/projects/listAll}">Back to Project List</a>
        <br>
        <br>

    </form>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>










