<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Project</title>
</head>

<body>

<div class="container">

    <h3>Project Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Project</p>

    <form action="#" th:action="@{/projects/save}"
          th:object="${formProject}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-inline">
            <input type="text" th:field="*{title}"
                   class="form-control mb-4 col-4" placeholder="Title">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <div class="form-inline">
            <textarea rows="4" cols="50" th:field="*{description}"
                      class="form-control mb-4 col-4" placeholder="Description"></textarea>

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}"
                  class="badge badge-danger ml-2 mb-4"></span>

            <!-- Hidden form field for date generation -->
            <input type="hidden" th:field="*{dateCreated}" />

        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/projects/listProjects}">Back to Employees List</a>

</div>
</body>

</html>










