<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Project Details</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
</head>
<body>

<form style="margin: 20px 20px">
    <div class="row">

        <div class="col-8">

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="title">Title</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.title}" class="form-control" id="title" readonly>
                </div>

                <div class="form-group col-6">
                    <label for="description">Description</label>
                    <textarea th:text="${ticketDetailsDto.ticketDto.description}" class="form-control" id="description" rows="4" cols="50" readonly></textarea>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-6">
                    <label for="creator">Type</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.type}" class="form-control" id="creator" readonly>
                </div>

                <div class="form-group col-6">
                    <label for="date-created">Status</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.status}" class="form-control" id="status" readonly>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-6">
                    <label for="creator">Priority</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.priority}" class="form-control" id="priority" readonly>
                </div>

                <div class="form-group col-6">
                    <label for="date-created">Date Created</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.dateCreated}" class="form-control" id="date-created" readonly>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-6">
                    <label for="creator">Submitter</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.submitter != null} ? ${ticketDetailsDto.ticketDto.submitter.username} : 'N/A'" class="form-control" id="submitter" readonly>
                    ${tempTicket.submitter != null} ? ${tempTicket.submitter.username} : 'N/A'
                </div>

                <div class="form-group col-6">
                    <label for="date-created">Project</label>
                    <input type="text" th:value="${ticketDetailsDto.ticketDto.project.title}" class="form-control" id="project" readonly>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <!-- Add "update" button/link -->
                    <a style="margin-right: 10px" th:href="@{/tickets/showUpdateFieldsForm(id=${ticketDetailsDto.ticketDto.id})}"
                       sec:authorize="hasRole('DEVELOPER')"
                       class="btn btn-info btn-sm">
                        Update
                    </a>

                    <!-- Add "close" button/link -->
                    <a th:href="@{/tickets/close(id=${ticketDetailsDto.ticketDto.id})}"
                       sec:authorize="hasRole('DEVELOPER')"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Are you sure you want to close this project?'))) return false">
                        Close
                    </a>
                </div>
            </div>

            <div class="row" style="margin-top: 20px">

                <div class="table-responsive col-12">
                    <h2>Developers</h2>

                    <!-- Add "assign" button/link -->
                    <a style="margin-bottom: 10px" th:href="@{/tickets/showAddDeveloperForm(id=${ticketDetailsDto.ticketDto.id})}"
                       sec:authorize="hasRole('PROJECT_MANAGER')"
                       class="btn btn-info btn-sm">
                        Assign
                    </a>

                    <table class="table table-bordered table-striped" id="developer-table">

                        <thead class="thead-dark">
                        <tr>
                            <th onclick="sortTable(0)">Username</th>
                            <th onclick="sortTable(1)">First Name</th>
                            <th onclick="sortTable(2)">Last Name</th>
                            <th onclick="sortTable(3)">Email</th>
                            <th>Phone</th>
                            <th>Date Assigned</th>
                            <th sec:authorize="hasRole('PROJECT_MANAGER')">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="tempDeveloperDto : ${ticketDetailsDto.developerDtoList}">
                            <td th:text="${tempDeveloperDto.username}"></td>
                            <td th:text="${tempDeveloperDto.firstName}"></td>
                            <td th:text="${tempDeveloperDto.lastName}"></td>
                            <td th:text="${tempDeveloperDto.email}"></td>
                            <td th:text="${tempDeveloperDto.phoneNumber}"></td>
                            <td th:text="${tempDeveloperDto.developersTickets.dateAssigned}"></td>
                            <td sec:authorize="hasRole('PROJECT_MANAGER')">

                                <!-- Add "details" button/link -->
                                <a th:href="@{/tickets/showDeveloperDetails(developerId=${tempDeveloperDto.id},
                                                                        ticketId=${ticketDetailsDto.ticketDto.id})}"
                                   class="btn btn-danger btn-sm">
                                    Details
                                </a>

                                <!-- Add "kick" button/link -->
                                <a th:href="@{/tickets/kickDeveloper(developerId=${tempDeveloperDto.id},
                                                                        ticketId=${ticketDetailsDto.ticketDto.id})}"
                                   sec:authorize="hasRole('PROJECT_MANAGER')"
                                   class="btn btn-danger btn-sm"
                                   onclick="if (!(confirm('Are you sure you want to kick this developer?'))) return false">
                                    Kick
                                </a>

                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>


    </div>
</form>
<div class="col-6">

    <h2 style="margin-bottom: 30px">Comments</h2>
    <div th:each="tempTicketDtoComment : ${ticketDetailsDto.ticketCommentsDtoList}">
        <p th:text="${tempTicketDtoComment.user.username} + ': ' + ${tempTicketDtoComment.comment} + ' (' + ${tempTicketDtoComment.getFormattedDateTime()} + ')'"></p>
    </div>

    <form action="#" th:action="@{/tickets/addComment}" th:object="${ticketCommentsCreationDto}" method="POST">
        <input type="hidden" th:field="*{ticketId}" />

        <div class="form-inline">
            <input type="text" th:field="*{comment}" maxlength="50" />
            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('comment')}"
                  th:errors="*{comment}"
                  class="badge badge-danger ml-2 mb-4"></span>
        </div>

        <button style="margin: 30px 10px" type="submit" class="btn btn-info col-2">Post</button>

        <a th:href="@{/tickets/deleteComments(ticketId=*{ticketId})}"
           style="margin: 30px 10px" type="submit" class="btn btn-danger col-2"
           onclick="if (!(confirm('Are you sure you want to kick this developer?'))) return false">Clear</a>
    </form>

</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("developer-table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("project-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</body>
</html>