<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

<div>
    <h2>Reset Your Password</h2>
</div>

<form th:action="@{/resetPassword}" th:object="${resetPasswordDto}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" th:field="${resetPasswordDto.code}" />

    <div class="border border-secondary rounded p-3">
        <!-- Password -->
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" th:field="*{password}" maxlength="80" placeholder="password (*)"
                   class="form-control" th:errorclass="fieldError"/>
        </div>

        <!-- Confirm Password -->
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" th:field="*{matchingPassword}" maxlength="80"
                   placeholder="confirm password (*)" class="form-control" th:errorclass="fieldError"/>
        </div>
        <div th:if="${#fields.hasErrors('password')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
            </ul>
        </div>

        <!-- Submit Password -->
        <div>
            <input type="submit" value="Change Password" class="btn-primary" />
        </div>
    </div>
</form>

</body>
</html>