<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">

    <title>Add Ticket Form</title>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-light mb-5" style="background-color: lightskyblue;">
    <a th:href="@{/}" class="navbar-brand ms-3 me-5">Ticket Manager</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarMenu">
        <ul class="navbar-nav me-auto">
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/projects/listAll}"
                   class="nav-link">Projects</a>
            </li>
            <li class="nav-item me-3">
                <a th:href="@{/tickets/listAll}" class="nav-link">Tickets</a>
            </li>
            <li class="nav-item me-3" sec:authorize="hasAnyRole('GENERAL_MANAGER', 'PROJECT_MANAGER')">
                <a th:href="@{/employees/listAll}"
                   class="nav-link">Employees</a>
            </li>
            <li class="nav-item me-4">
                <a th:href="@{/profile/showFormForUpdate}" class="nav-link">Profile</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-5">
                <form name="logoutForm" th:action="@{/processLogout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="justify-content: center;">
        <h3 style="margin-bottom: 20px;">Add Ticket</h3>
        <hr>

    <div class="row">
    <form action="#" th:action="@{/tickets/add}"
          th:object="${ticketCreationDto}" method="POST" style="margin-top: 20px; " class="form-horizontal">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{ticketDto.id}" />
        <input type="hidden" th:field="*{ticketDto.dateCreated}" />

        <div class="form-inline" style="max-width: 400px; margin-right: 50px;">
            <input type="text" th:field="*{ticketDto.title}"
                   maxlength="50" class="form-control mb-4" placeholder="Title">

            <div th:if="${#fields.hasErrors('ticketDto.title')}"
                 class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('ticketDto.title')}" th:text="${err}" />
                </ul>
            </div>
        </div>

        <div class="form-inline" style="max-width: 500px; margin-right: 50px;">
            <textarea rows="4" cols="50" th:field="*{ticketDto.description}"
                      maxlength="200" class="form-control mb-4" placeholder="Description" style="resize: none"></textarea>

            <div th:if="${#fields.hasErrors('ticketDto.description')}"
                 class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('ticketDto.description')}" th:text="${err}" />
                </ul>
            </div>
        </div>

        <select th:field="*{ticketDto.type}" class="form-control form-select mb-4"
                style="max-width: 400px; margin-right: 50px; margin-top: 40px;">
            <option value="">Select Ticket Category</option>
            <option value="Bug">Bug</option>
            <option value="User Interface">User Interface</option>
            <option value="User Experience">User Experience</option>
        </select>

        <div th:if="${#fields.hasErrors('ticketDto.type')}" style="margin-bottom: 25px; color: #ff0000">
            <ul>
                <li th:each="err : ${#fields.errors('ticketDto.type')}" th:text="${err}" ></li>
            </ul>
        </div>
        <br>

        <fieldset>
            <h5>Select Ticket Priority</h5>
                <ul>
                    <li>
                        <input id="priority-high" type="radio" name="priority" th:field="*{ticketDto.priority}"
                               value="high">
                        <label for="priority-high">High</label>
                    </li>
                    <li>
                        <input id="priority-medium" type="radio" name="priority" th:field="*{ticketDto.priority}"
                               value="medium">
                        <label for="priority-medium">Medium</label>
                    </li>
                    <li>
                        <input id="priority-low" type="radio" name="priority" th:field="*{ticketDto.priority}"
                               value="low">
                        <label for="priority-low">Low</label>
                    </li>
                </ul>
                <div th:if="${#fields.hasErrors('ticketDto.priority')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('ticketDto.priority')}" th:text="${err}" />
                    </ul>
                </div>
        </fieldset>

        <select th:field="*{projectId}" class="form-control mb-4 form-select"
                style="max-width: 400px; margin-right: 50px; margin-top: 40px;">
            <option value="">Select Project</option>
            <option th:each="tempProject : ${ticketCreationDto.projectList}" th:value="${tempProject.id}"
                    th:text="${tempProject.title}"></option>
        </select>

        <div th:if="${#fields.hasErrors('projectId')}"
             style="margin-bottom: 25px; color: #ff0000">
            <ul>
                <li th:each="err : ${#fields.errors('projectId')}" th:text="${err}" ></li>
            </ul>
        </div>
        <br>

        <button type="submit" class="btn btn-info col-2">Save</button>
        <hr>
        <br>
        <a th:href="@{/tickets/listAll}">Back to Ticket List</a>
        <br>
        <br>

    </form>
    </div>
</div>
</body>

</html>










